body
{
	margin: 10px;
	padding:0;

	font-family: sans-serif;
	background-color: white; 
}

.form{
	width: 680px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color:none;
	text-align:center;
	border-style: double;
}
.form input[type=submit]:hover{
background-color:6600FF;
}